In [8]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv('lab1.csv')

In [10]:
data

     sky air-temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [11]:
concepts=np.array(data)[:,:-1]

In [12]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [14]:
target=np.array(data)[:,-1]

In [15]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [19]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=="yes":
            specific_h=con[i].copy()
            break
            
    for i,val in enumerate(con):
        if tar[i]=="yes":
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                     specific_h[x]='?'
                else:
                     pass
    return specific_h

In [20]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']

In [29]:
data=pd.read_csv('lab2.csv')

In [30]:
data

  citations    size inLibrary       price editions  buy
0      some   small        no  affordable     many   no
1      many     big        no   expensive      one  yes
2      some     big    always   expensive      few   no
3      many  medium        no   expensive     many  yes
4      many   small        no  affordable     many  yes

In [31]:
concepts=np.array(data)[:,:-1]

In [32]:
concepts

array([['some', 'small', 'no', 'affordable', 'many'],
       ['many', 'big', 'no', 'expensive', 'one'],
       ['some', 'big', 'always', 'expensive', 'few'],
       ['many', 'medium', 'no', 'expensive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [33]:
target=np.array(data)[:,-1]

In [34]:
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [35]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=="yes":
            specific_h=con[i].copy()
            break
            
    for i,val in enumerate(con):
        if tar[i]=="yes":
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                     specific_h[x]='?'
                else:
                     pass
    return specific_h

In [36]:
print(train(concepts,target))

['many' '?' 'no' '?' '?']